{% extends "base.html" %}
{% block title %}Edit{% endblock title %}
{% block body %}

<div class="container">
    <div class="row mt-3">
        <div class="col-6 text-start">
            <h1 class="text-muted">All User's</h1>
        </div>
        <div class="col-6 text-end">
            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Add New User
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Sr. No.</th>
                    <th scope="col" class="text-center">Full Name</th>
                    <th scope="col" class="text-center">Email Address</th>
                    <th scope="col" class="text-center">Mobile No.</th>
                    <th scope="col" colspan="2" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in users %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td><a href="{{url_for('edit',id=row[0])}}" class="btn btn-warning px-3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square me-2" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>Edit</a></td>
                    <td><a href="{{url_for('delete',id=row[0])}}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill me-2" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg>Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Details</h5>
          </div>
          <div class="modal-body">
            <form action="{{url_for('update')}}" method="POST">
              <div class="form-group my-2">
                <input type="hidden" name="uid" class="form-control" value="{{user[0][0]}}">
              </div>
              <div class="form-group my-2">
                <label class="my-1" for="exampleInputEmail1">Full Name</label>
                <input type="text" name="uname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Full Name" value="{{user[0][1]}}">
              </div>
              <div class="form-group my-2">
                <label class="my-1" for="exampleInputPassword1">Email Address</label>
                <input type="email" name="email" class="form-control" id="exampleInputPassword1" placeholder="Enter Email" value="{{user[0][2]}}">
              </div>
              <div class="form-group my-2">
                <label class="my-1" for="exampleInputPassword1">Mobile No</label>
                <input type="number" name="monumber" class="mb-3 form-control" id="exampleInputPassword1" placeholder="Enter Mobile number" value="{{user[0][3]}}">
              </div>
              <!-- <button type="submit" class="btn btn-success my-2">Update</button> -->
              
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Update</button>
                <a href="{{url_for('list')}}" class="btn btn-secondary">Close</a>
            </div>
            </form>
          </div>
      </div>
  </div>
</div>

<script src="../static/jquery.min.js"></script>
<script src="../static/script.js"></script>
{% endblock body %}